body {
    background-color: #1B1D29; 
    font-family: sans-serif;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: bold;
    font-size: 8vw;
    color: #928e8e;
}

.rgb{
    --s: 1;
    --rx: calc(var(--s) * -0px);
    --ry: calc(var(--s) * 0px);
    --bx: calc(var(--s) * -10px);
    --by: calc(var(--s) * -0px);
    --gx: calc(var(--s) * -0px);
    --gy: calc(var(--s) * 0px);
    --gb: 20px;
    --a: 0.2;
    filter:drop-shadow(var(--rx) var(--ry) 1px rgba(255,0,0,var(--a))) drop-shadow(var(--gx) var(--gy) var(--gb) rgba(0,255,0,var(--a))) drop-shadow(var(--bx) var(--by) 1px rgba(0,0,255,var(--a)))
}

